@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  text-transform: capitalize;
}

html {
  font-size: 70%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #0d0d0d;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
}

html::-webkit-scrollbar-track::-webkit-slider-thumb {
  background: #f1630b;
}

body {
  background: #0d0d0d;
  padding-bottom: 6.5rem;
}

.section {
  padding: 6rem 13%;
}

.heading {
  text-align: center;
  font-size: 6vw;
  margin-bottom: 3rem;
  text-transform: uppercase;
  color: #fff;
}

.heading span {
  color: #f1630b;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  background: #f1630b;
  font-size: 1.7rem;
  padding: .7rem;
  color: #fff;
  padding-left: 2rem;
}

.btn i {
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  font-size: 1.7rem;
  text-align: center;
  background: #fff;
  color: #f1630b;
  margin-left: 1rem;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.btn i:hover {
  margin-left: 3rem;
}

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: #1a1a1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.navbar a {
  padding: 2rem;
  font-size: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #fff;
  transition: .2s linear;
  -webkit-transition: .2s linear;
  -moz-transition: .2s linear;
  -ms-transition: .2s linear;
  -o-transition: .2s linear;
}

.navbar a i {
  color: #f1630b;
  padding-right: 0.5rem;
}

.navbar a:hover {
  background: #f1630b;
  padding-bottom: 3rem;
}

.navbar a:hover i {
  color: #fff;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 4rem;
  min-height: calc(100vh - 6.5rem);
}

.image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  text-align: center;
}

.image img {
  height: 43rem;
  width: 43rem;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  -webkit-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  -moz-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  -ms-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  -o-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.content h2 {
  color: #fff;
  font-size: 4rem;
  padding-bottom: 0.5rem;
}

.content span {
  color: #f1630b;
  font-size: 3rem;
  padding: .5 0;
  display: block;
}

.content p {
  color: #aaa;
  font-size: 1.5rem;
  padding: 1rem 0;
  line-height: 2;
}

.about .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.about .row .info_container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  padding-left: 3rem;
}

.about .row .info_container h3 {
  font-size: 3rem;
  color: #fff;
  padding-bottom: 1rem;
  text-transform: uppercase;
}

.about .row .info_container .box_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem 0;
}

.about .row .info_container .box_container .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
}

.about .row .info_container .box_container .box h4 {
  font-size: 1.7rem;
  color: #fff;
  padding: 1rem 0;
  font-weight: normal;
}

.about .row .info_container .box_container .box h4 span {
  color: #aaa;
  font-weight: lighter;
}

.about .row .count_container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 32rem;
          flex: 1 1 32rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  text-align: center;
}

.about .row .count_container .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  padding: 3rem 4rem;
  background: #1a1a1a;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
  border-radius: .5rem;
}

.about .row .count_container .box h4 {
  font-size: 5rem;
  color: #f1630b;
}

.about .row .count_container .box p {
  font-size: 1.5rem;
  color: #aaa;
  padding-top: 1rem;
}

.about .row .count_container .box:hover {
  background: #fff;
}

.about .row .count_container .box:hover h4 {
  color: #0d0d0d;
}

.about .row .count_container .box:hover h4 span {
  color: #0d0d0d;
}

.skills {
  margin-top: 7rem;
}

.skills .box_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1.5rem;
  margin-bottom: 4rem;
  padding-left: 1.5rem;
}

.skills .box_container .box {
  padding: 2rem;
  text-align: center;
  background: #1a1a1a;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
  border-radius: .5rem;
  transition: .2s linear;
  -webkit-transition: .2s linear;
  -moz-transition: .2s linear;
  -ms-transition: .2s linear;
  -o-transition: .2s linear;
}

.skills .box_container .box:hover {
  background: #fff;
}

.skills .box_container .box:hover h3 {
  color: #0d0d0d;
}

.skills .box_container .box img {
  height: 7rem;
  margin-bottom: 1rem;
}

.skills .box_container .box h3 {
  color: #fff;
  font-size: 1.7rem;
  font-weight: normal;
}

.education {
  margin: 5rem 0;
  padding-left: 1rem;
}

.education .box_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.education .box_container .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  margin-left: 2rem;
  padding: 2rem;
  padding-left: 3.5rem;
  padding-bottom: 2rem;
  border-left: 0.1rem solid #aaa;
  position: relative;
}

.education .box_container .box i {
  position: absolute;
  width: 4.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  background: #f1630b;
  color: #fff;
  text-align: center;
  left: -2.2rem;
  top: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.education .box_container .box i:hover {
  color: #f1630b;
  background: #fff;
}

.education .box_container .box span {
  font-size: 1.7rem;
  background: #1a1a1a;
  color: #fff;
  padding: .5rem 1.5rem;
  border-radius: 5rem;
}

.education .box_container .box span:hover {
  background: #f1630b;
}

.education .box_container .box h3 {
  color: #fff;
  font-size: 2rem;
  padding: 1rem 0;
}

.education .box_container .box p {
  color: #aaa;
  font-size: 1.5rem;
  line-height: 2;
}

.portfolio {
  padding-bottom: 4rem;
  text-align: center;
}

.portfolio .box_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.portfolio .box_container .box {
  height: 27rem;
  overflow: hidden;
  position: relative;
}

.portfolio .box_container .box:hover .content {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.portfolio .box_container .box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio .box_container .box .content {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #1a1a1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transition: .3s linear;
  -webkit-transition: .3s linear;
  -moz-transition: .3s linear;
  -ms-transition: .3s linear;
  -o-transition: .3s linear;
}

.portfolio .box_container .box .content h3 {
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
}

.portfolio .box_container .box .content p {
  font-size: 1.5rem;
  color: #aaa;
  padding: 1rem 0;
  line-height: 2;
}

.portfolio .box_container .box .content a {
  font-size: 2rem;
  color: #f1630b;
}

.portfolio .box_container .box .content a:hover {
  color: #fff;
}

.blogs {
  margin-bottom: 5rem;
  text-align: center;
}

.blogs .box_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.blogs .box_container .box {
  text-align: center;
  padding: 2rem;
  background: #1a1a1a;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}

.blogs .box_container .box:hover .images img {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.blogs .box_container .box .images {
  height: 25rem;
  width: 100%;
  overflow: hidden;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}

.blogs .box_container .box .images img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: .3s linear;
  -webkit-transition: .3s linear;
  -moz-transition: .3s linear;
  -ms-transition: .3s linear;
  -o-transition: .3s linear;
}

.blogs .box_container .box .content .icon {
  position: relative;
  top: -1rem;
  padding: .7rem;
  background: #0d0d0d;
  display: inline-block;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}

.blogs .box_container .box .content a {
  color: #fff;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.blogs .box_container .box .content a i {
  color: #f1630b;
  padding-right: 0.5rem;
}

.blogs .box_container .box .content h3 {
  font-size: 2rem;
  color: #fff;
  font-weight: normal;
}

.blogs .box_container .box .content p {
  font-size: 1.5rem;
  font-weight: normal;
  color: #aaa;
  padding: 1rem 0;
  line-height: 2;
}

.contact {
  padding: 2rem 3rem;
  margin-bottom: 5rem;
}

.contact .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.contact .row .info_container {
  width: 40rem;
}

.contact .row h1 {
  font-size: 3rem;
  color: #fff;
  text-transform: uppercase;
}

.contact .row p {
  font-size: 1.5rem;
  color: #aaa;
  line-height: 2;
  padding: 1rem 0;
}

.contact .row .box_container {
  padding: 1rem 0;
}

.contact .row .box_container .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.contact .row .box_container .box i {
  font-size: 2rem;
  color: #f1630b;
  padding-top: .7rem;
}

.contact .row .box_container .box h3 {
  font-size: 2rem;
  color: #fff;
  font-weight: normal;
}

.contact .row .share a {
  font-size: 2.5rem;
  text-align: center;
  margin-right: 1rem;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  color: #f1630b;
  background: #1a1a1a;
  border-radius: 50%;
  -webkit-transition: .3s;
  transition: .3s;
}

.contact .row .share a:hover {
  background: #f1630b;
  color: #fff;
}

.contact form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.contact form .inputBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact form input {
  width: 49%;
}

.contact form .inputBox input,
.contact form textarea {
  font-size: 1.6rem;
  padding: 1rem 1.2rem;
  color: #fff;
  margin: 2rem 0;
  background: #1a1a1a;
  border: none;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
}

.contact form textarea {
  width: 100%;
  resize: none;
  height: 20rem;
  border: none;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.contact form .btn {
  padding: 1rem 3rem;
  border: none;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
}

.contact form .btn:hover {
  color: #f1630b;
  background: #fff;
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  .section {
    padding: 3rem 2rem;
  }
  .heading {
    font-size: 6vw;
  }
}

@media (max-width: 768px) {
  .navbar a i {
    padding: 0;
  }
  .navbar a span {
    display: none;
  }
  .navbar a span:hover {
    padding-bottom: 2rem;
  }
  .home {
    text-align: center;
    gap: 2rem;
  }
  .home .image img {
    height: 30rem;
    width: 30rem;
  }
  .home h2 {
    font-size: 3rem;
  }
  .home span {
    font-size: 2.5rem;
  }
  .education .box_container .box:nth-child(7) i {
    display: none;
  }
}

@media (max-width: 768px) and (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
/*# sourceMappingURL=style.css.map */